// Reset
@import "reset.scss";
// Fonts
@import "../fonts/fonts.scss";

// Vars
$c-primary: #b18248;


body {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 50px 0;

    h2 {
        font-size: 48px;
    }
}


.header {
    background: url("../img/header/header-bg.png") center / cover no-repeat;

    &-info {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
        
            &__text {
                margin-left: 15px;
                text-align: center;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
            }
        }
        
        &-contacts {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #fff;
                font-size: 24px;
                font-weight: 500;

                display: flex;
                align-items: center;
                margin: 8px 25px;
                transition: .4s;
                
                img {
                    margin-right: 10px;
                }

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

.nav {
    margin: 25px 0 50px;

    &-menu {
        background: $c-primary;
        text-transform: uppercase;
        display: flex;
        justify-content: center;

        &__item {
            padding: 20px 0;
            transition: .4s;

            &:hover {
                background: #fff;
            }

            a {
                padding: 20px;
                color: #fff;
                transition: .4s;

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.header-content {
    flex: 0 0 68%;
    color: #fff;

    h1 {
        font-size: 45px;
        line-height: 1.1;
    }

    p {
        font-weight: 300;
        font-size: 22px;
        margin: 70px 0 30px;
    }
}

.header-form {
    flex: 0 0 31%;
}

.form-block {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;

    &__title {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 2;
    }

    input:not(:last-child) {
        color: #fff;
        display: block;
        background: none;
        width: 90%;
        border-bottom: 1px solid $c-primary;
        padding-bottom: 5px;
        margin: 45px auto;
    }

    input:last-child {
        width: 100%;
        cursor: pointer;
    }
}

.media-links-block {
    text-align: center;
    padding: 25px 0;
    
    p {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    a {
        margin: 0 6px;
        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.5);
        }
        
    }
}

.btn {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: $c-primary;
    color: #fff;
    box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.5);
    transition: .4s;

    &:hover {
        color: $c-primary;
        background: #fff;
    }

    &--large {
        max-width: 450px;
        width: 100%;
        padding: 30px;
    }
}


  


// Responsive
@import "responsive.scss";