// Reset
@import "reset.scss";
// Fonts
@import "../fonts/fonts.scss";

// Vars
$c-primary: #b18248;


body {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
}


.header {
    width: 100%;
    min-height: 100vh;
    background: url("../img/header/header-bg.png") center / cover no-repeat;

    &-info {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
        
            &__text {
                margin-left: 15px;
                text-align: center;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
            }
        }
        
        &-contacts {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #fff;
                font-size: 24px;
                font-weight: 500;

                display: inline-flex;
                align-items: center;
                margin: 0 25px;
                transition: .4s;
                
                img {
                    margin-right: 10px;
                }

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

.nav {
    margin: 25px 0 50px;

    .nav-menu {
        background: $c-primary;
        text-transform: uppercase;
        display: flex;
        justify-content: center;

        &__item {
            padding: 20px 0;
            transition: .4s;

            &:hover {
                background: #fff;
            }

            a {
                padding: 20px;
                color: #fff;
                transition: .4s;

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

.header-content-wrapper {
    display: flex;
    padding-bottom: 100px;
}

.header-content {
    flex: 0 0 68%;
    color: #fff;

    h1 {
        font-size: 45px;
    }

    p {
        font-weight: 300;
        font-size: 22px;
        margin: 65px 0 30px;
    }
}


.btn {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
    text-transform: uppercase;
    background: $c-primary;
    color: #fff;
    box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.5);
    transition: .4s;

    &:hover {
        color: $c-primary;
        background: #fff;
    }

    &--large {
        max-width: 450px;
    }
}






// Responsive
@import "responsive.scss";