// Reset
@import "reset.scss";
// Fonts
@import "../fonts/fonts.scss";

// Vars
$c-primary: #b18248;


body {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


.header {
    width: 100%;
    min-height: 100vh;
    background: url("../img/header/header-bg.png") center / cover no-repeat;

    &-info {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
        
            &__text {
                margin-left: 15px;
                text-align: center;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
            }
        }
        
        &-contacts {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #fff;
                font-size: 24px;
                font-weight: 500;

                display: inline-flex;
                align-items: center;
                margin: 0 25px;
                transition: .4s;
                
                img {
                    margin-right: 10px;
                }

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

.nav {
    margin: 25px 0 50px;

    .nav-menu {
        background: $c-primary;
        text-transform: uppercase;
        display: flex;
        justify-content: center;

        &__item {
            padding: 20px 0;
            transition: .4s;

            &:hover {
                background: #fff;
            }

            a {
                padding: 20px;
                color: #fff;
                transition: .4s;

                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}








// Responsive
@import "responsive.scss"